@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  background-color: #eff6ff !important;
}


:root {
  --primary-color: #8006be;
  --background-color: #F5FFFD;
  --primary-button-hover-color: rgb(6, 36, 80);
  --box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.10), 0px 4px 6px 0px rgba(0, 0, 0, 0.05);

}

.btn-primary {
  background-color: var(--primary-color) !important;
  border-radius: 20px !important;
  border-color: var(--primary-color) !important;
  font-size: 16px !important;
  font-weight: 600 !important;
  color: #fff !important;
}

.btn-secondary {
  color: var(--primary-color) !important;
  background-color: #e3f2f7 !important;
  border: none !important;
  box-shadow: 0 4px 9px -4px #e3ebf7 !important;
  text-align: center !important;
  justify-content: center;
  align-items: center;
  font-weight: 500 !important;
}

.btn-primary:hover {
  background-color: var(--primary-button-hover-color) !important;
}

.btn-secondary:hover {
  background-color: #cfd3d4 !important;
}

.primary-color {
  color: var(--primary-color);
}

/* Define styles for the custom toast */
.custom-toast {
  background-color: #8006be !important;
  color: #fff !important;
}

/* Define styles for the progress bar inside the toast */
.custom-progress-bar {
  background-color: #8006be !important;
}

/* Define styles for the icon inside the toast */
.custom-toast .Toastify__toast-icon svg {
  fill: #fff !important; /* Change the checkmark color */
}
